[2016-03-02 13:14] JeroenVinke opened #2 "Karma misses some polyfills"
Two different errors on two different machines: `Reflect.defineMetadata is not a function` and `Map is not defined`

[code]

[code]

karma.conf.js: https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/blob/eb898f9bb3b6ee58235f81601c90783ba8a08802/karma.conf.js

repository: https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/

[2016-03-02 13:23] JeroenVinke commented on #2
For the Map error: Perhaps aurelia-metadata is just missing the dependency to aurelia-polyfills and it needs to import it?

[2016-03-02 14:23] EisenbergEffect commented on #2
Where are you seeing this? I thought all of our own projects were fixed. If it's your own project, then you will need to install aurelia-polyfills as a dev dependency and then reference it from your tests. You can see one of our binding repo's test setup for an example.

[2016-03-02 14:23] #2 closed

[2016-03-02 14:31] doktordirk commented on #2
@JeroenVinke see eg https://github.com/SpoonX/aurelia-orm/pull/44 to update test setup

[2016-03-02 14:33] JeroenVinke commented on #2
Thanks, it is my own project and it is even mentioned in the release blog post:

Should be good then :+1:

[2016-03-03 14:35] alexsurg opened #3 "IE 11"
Hi,

I have updated today to the latest version and since then IE11 stopped working for me.

i keep getting the following error (despite the fact that i dont use Symbol in my code):

Potentially unhandled rejection [1] ReferenceError: 'Symbol' is undefined
   at eachChar (Unknown script code:97:90)
   at addSegment (Unknown script code:492:5)
   at add (Unknown script code:235:9)
   at addRoute (U

[2016-03-03 14:40] EisenbergEffect commented on #3
Please try running `jspm update` again and see if that fixes it for you. There were some patch releases to address these issues. In particular, the stack trace you are showing points to code that we fixed.

[2016-03-03 14:40] #3 closed

[2016-03-03 15:00] alexsurg commented on #3
Thanks, the jspm update fixed it.
unfortunately now i get the following error:

Potentially unhandled rejection [3] TypeError: AMD module http://localhost:32433/jspm_packages/npm/aurelia-logging-console@1.0.0-beta.1.1.4.js did not define
   at Anonymous function (http://localhost:32433/jspm_packages/system.js:5:13182)
   at Anonymous function (http://localhost:32433/jspm_packages/system.js:5:15342

[2016-03-03 15:01] EisenbergEffect commented on #3
I havent' seen that before. Try running `jspm dl-loader --latest` to make sure you have the latest version of the module loader.

[2016-03-03 15:15] alexsurg commented on #3
Great running 'jspm dl-loader --latest' seems to fix it, also it changed the version of my core-js from 2.1.3 to 1.2.6 but i dont mind as long as it works.

[2016-03-04 15:42] jods4 opened #4 "Array.from doesn't support iterables"
Before the recent removal of corejs polyfills I had this in my code:
[code]

[2016-03-04 15:47] EisenbergEffect commented on #4
We're happy to accept a pull request to fix that and would release it asap once provided.

[2016-03-04 19:50] jods4 commented on #4
In the end I added back corejs to my project.
We have a large, complex LOB application and it was written from the scratch with the assumption that we could assume ES6 level of features (although not extensively).
After the last update, many things started to break: `for of` loops because `Symbol` polyfill was missing (we use Babel to transpile). Missing `Promise` polyfill. `Array.from(new Set().v

[2016-03-06 14:16] alexsurg opened #6 "Map doesnt work"
Hi,

In my code i am using the Map object quite alot after the change with the polyfills it stopped working in IE 11 and it throws an exception that Symbol is undefined.
From a look at aurelia-polyfills.js i saw that Map object should be supported.
For now i have added core js shim back to my code in the following way:

[code]

Can you please fix the Map object. Or provide a better way to import c

[2016-03-06 16:47] EisenbergEffect commented on #6
Try running `jspm update` and see if that fixes it. Our code doesn't use
Symbols anymore. We had a bug earlier but that is now fixed. If the problem
persists it is probably because your code is using Symbol or possibly the
compiler you are using is generating code that uses Symbols and you will
need to include a polyfill.
On Mar 6, 2016 9:16 AM, "alexsurg" <notifications@github.com> wrote:

[2016-03-06 16:48] EisenbergEffect commented on #6
If you need to load only the missing modules from core JS, please see their
documentation which should explain how that works. It is designed to make
that possible.
On Mar 6, 2016 11:47 AM, "Rob Eisenberg" <rob@bluespireconsulting.com>
wrote:

[2016-03-07 02:04] EisenbergEffect commented on #6
About to release a new version that includes a Symbol polfyill as well as Symbol.iterator support for all collections.

[2016-03-07 02:04] #6 closed

[2016-03-07 02:05] EisenbergEffect commented on #4
We've added a Symbol polyfill as well as Symbol.iterator (for/of) support for all collections. We've fixed up Object.assign to work with Symbols as well.

[2016-03-07 08:07] alexsurg commented on #6
Thanks for supporting Symbol. Unfortunately after i took the latest version and removed core JS from the code i started to get the following error almost on all my compiled files in the definition/registration section:

`Error: Cannot read property 'Symbol(toStringTag)' of undefined`

Can you please add support to Symbol.toStringTag or even better to all the Symbol function.

Thanks,
Alex

[2016-03-07 10:20] jods4 commented on #4
My PR should be modified then.
In my PR, because there was no `Symbol.iterator` I looked at the `next()` method directly.

It would be cleaner (and more specs compliant) to modify it so that:
- `Array.from` first checks for `@@iterator`. If there is one it should do the `next()` loop on `[Symbol.iterator]()`, which actually just returns `this` but serves as a marker interface (more or less).
- I d

[2016-03-07 13:33] Souldrinker opened #8 "Assigning null arguments causes errors"
Not sure how to really describe my issue, but when I remove core-js from my application it fails on IE11 with ```Object.keys: argument is not an Object```. It still works fine in Chrome, but to make it work in IE I have to re-enable core-js in my index.html.

In IE without core-js I get the error on the last line in the loop on my last argument (of five) which is null:
[code]

In the call stack I

[2016-03-07 14:23] EisenbergEffect commented on #6
It should be supported already. Do you have the latest version? Can you show me what errors you are getting? What do you mean about the "definition/regitration" section?

[2016-03-07 14:27] EisenbergEffect commented on #4
Would you be interested to locate such a polyfill or "port" one. We would like something without any external dependencies beyond what we already have in our polyfills library.

[2016-03-07 14:56] alexsurg commented on #6
I took the latest version: aurelia-polyfills@1.0.0-beta.1.0.2.

For example i use the kendo aurelia bridge, before the upgrade (from 1.0.1 to 1.0.2) it worked fine (in Chrome). now i get the following error:

[code]
In aurelia-polyfills.js here is the error:

[code]
If i remove the kendo aurelia bridge and just tring to import a kendo file:
`import 'kendo-ui/js/kendo.multiselect.min.js';`

Still g

[2016-03-07 15:10] EisenbergEffect commented on #8
Is it Object.keys itself that isn't present? Or is it failing when arg is undefined?

[2016-03-07 15:13] Souldrinker commented on #8
It is failing when arg is null.

[2016-03-07 15:19] EisenbergEffect commented on #8
@Souldrinker Can you check on the spec and see what it should do when Object.keys is called on null or undefined? Perhaps this is an area where IE supports the method but had an incorrect implementation. I'd like to know. If it is, we can detect for that scenario and overwrite IE's implementation.

[2016-03-07 15:32] Jaans opened #10 "Cannot read property 'Symbol(toStringTag)' of undefined for"
The new Aurelia polyfills is erroring out when a `null` or `undefined` value is passed for the `Object.prototype.toString` polyfill.

![image](https://cloud.githubusercontent.com/assets/3510981/13573724/c5a576f8-e4cc-11e5-86cc-189e5c2d853a.png)

I found the source usage that is receiving the above Aurelia error inside the `momentjs` library where it checks input using the `Object.prototype` (see s

[2016-03-07 15:37] EisenbergEffect commented on #10
We have a fix coming.

[2016-03-07 15:38] Souldrinker commented on #8
Well, as far as I can see IE does it correctly according to EcmaScript5: http://www.ecma-international.org/ecma-262/5.1/#sec-15.2.3.14 (If the Type(O) is not Object, throw a TypeError exception.)

It says the same here: https://msdn.microsoft.com/en-us/library/ff688127(v=vs.94).aspx.

While it seems Chrome is doing it differently and accepting non-object arguments.

Could it be that Chrome uses th

[2016-03-07 17:51] EisenbergEffect commented on #8
Yep, that has to be it. We will need to check that behavior and update if it isn't present.

[2016-03-07 19:51] NateRedding commented on #10
I got this error as well. I think the core.js library has the same issue also. When I tried importing core-js  from main.js, I get the same error message, but a different stacktrace (obviously).

[2016-03-07 19:54] mthomson commented on #10
I rolled back to core-js and this error has gone away.  I'm putting the core-js client right into index.html

[2016-03-07 20:01] EisenbergEffect commented on #10
Putting core-js in the index.html is probably the easiest way to ensure that it works correctly. We do have a fix for this particular issue coming shortly.

[2016-03-07 20:11] jods4 commented on #4
I updated my PR by taking the CoreJS implementation (mostly). Because CoreJS is made of tons of tiny reusable parts I had to merge stuff and simplify a little bit the paranoid checks that litter this code.

_Beware that I did this directly in Github during a commute... so I did not run this code even once! Maybe it does not work._
It seems to me it should be OK though and hopefully it help you get

[2016-03-07 20:12] EisenbergEffect commented on #4
Understood. Thanks for the assistance!

[2016-03-07 20:12] EisenbergEffect commented on #4
The main thing we wanted was to remove the hard dependency that we had on core-js which left developers without options. We wanted to also have our own solution and open up choices for developers. Thanks for helping!

[2016-03-07 20:20] jods4 commented on #4
I'm afraid you've opened Pandora's box, though... now people (like me?) will find edge cases that don't work (I saw something about `Object.keys(null)`) and you'll need to maintain your own polyfill stuff :(

Why didn't you use the custom build option of CoreJS to get just the bits you needed?

Also, a good thing would be to put `aurelia-polyfills` as a totally optional dependency that needs to be

[2016-03-07 20:27] EisenbergEffect commented on #4
The core-js project is in danger, so we don't want any dependency on it in our core.

It's possible to avoid our own polyfills by writing your own bootstrapper, which isn't hard, or manually bootstrapping the framework in code. But, I'm not sure it's worth it for most people, especially since our polyfills are pretty small.

[2016-03-07 20:29] jods4 commented on #4
It's true that they are small. Any code example? We already bootstrap Aurelia in code (if I understand you correctly).

Just out of curiosity could you quickly clue me in as to why core-js is in danger? Thanks!

[2016-03-07 20:32] Gheoan commented on #4
@jods4 I think Rob is referencing to this issue: https://github.com/zloirock/core-js/issues/139.

[2016-03-07 20:34] EisenbergEffect commented on #4
The bootstrapper module is just a small bit of "startup" code that gets things working. It could be replaced with your own code. It's the only thing that references our polyfills, so that could be removed. Once we all move to jspm 0,.17, the bootstrapper will get even simpler...making it easier to write your own if needed.

@Gheoan is referencing to the correct issue. It's best for us to have as f

[2016-03-07 20:36] akaustav opened #11 "IE11 - TypeError"
Today, I upgraded from `aurelia-polyfills v1.0.0-beta.1.0.0` to `aurelia-polyfills v1.0.0-beta.1.0.2` using a `jspm update` and I received the following error message on the console on **Microsoft Internet Explorer 11**:

Is anyone else getting this error?

[2016-03-07 20:38] jods4 commented on #4
@Gheoan thanks for the pointer.

I feel like polyfills should never be a hard-dependency anyway.  They are an implementation of a standard spec, you should be able to swap them at any point. As long as you know (and document) what features you depend on, you should be good.

We use AMD/requirejs here. When this project started JSPM seemed too "fresh" for us to place a confident bet on it. We had a

[2016-03-07 20:41] EisenbergEffect commented on #4
Awesome! I'd like to hear about how require.js has worked out. Please send me some email rob at durandal dot io  I've used require.js a lot in the past. That's what Durandal was based on. I'd like to get some feedback from you on using it with Aurelia. Maybe we can make it easier. We could even do a custom bootstrapper if needed, like we just added for Webpack.

[2016-03-07 20:42] EisenbergEffect commented on #11
We have identified the error. Fix is coming today.

[2016-03-07 20:42] EisenbergEffect commented on #11
See here for an explanation: https://github.com/aurelia/polyfills/issues/8

[2016-03-07 20:57] damianof commented on #10
How can we update our packages references without getting this latest patch? It seems this start from aurelia-bootstrapper which is the one who has a reference to the aurelia-polyfills

[2016-03-07 21:22] akaustav commented on #11
Thanks. Will wait for the fix.

[2016-03-07 21:46] EisenbergEffect commented on #10
Fixed. Release coming shortly.

[2016-03-07 21:46] #10 closed

[2016-03-07 21:47] EisenbergEffect commented on #11
Closing as duplicate of #8

[2016-03-07 21:47] #11 closed

[2016-03-07 22:15] EisenbergEffect commented on #8
Looking into the spec, if you pass null or undefined to Object.keys, it should throw an error. However, if you pass a primitive, it would previously throw an error, but should not in the newest spec. IE11 doesn't implement the latest version. Perhaps that is the issue?

[2016-03-07 22:42] EisenbergEffect commented on #8
Brought up to spec. Releasing coming soon. However, bear in mind that the spec says that undefined and null should still throw. Primitives should not though.

[2016-03-07 23:10] damianof commented on #10
Thank you Bob.

[2016-03-08 07:27] stoffeastrom commented on #8
So just to clarify. This could still throw an exception from the fetch client [buildRequest](https://github.com/aurelia/fetch-client/blob/master/src/http-client.js#L170) since it's defaulting the bodyObj to null

[code]

[2016-03-08 07:40] Souldrinker commented on #8
Ok, thanks for looking into this. And sure, you probably fixed the issue where IE was using the ES5 implementation and now it supports primitives the ES6 way.

But unfortunately that doesn't help me getting rid of core-js in IE11, since I wasn't sending a primitive but null or undefined, so now with 1.0.3 I get a ```Cannot convert undefined or null to object``` instead. And I don't really know how

[2016-03-08 09:16] mattgaspar commented on #8
I've been trying to find the source of this issue as I encountered it today as well.  Can't figure out how to debug in IE though!  F12 tools stack trace doesn't show enough.  Could the fact that systemjs automatically loads system-polyfills when it detects IE be causing some kind of conflict?

By the way, the aurelia docs site also doesn't load in IE11 currently

Potentially unhandled rejection [1

[2016-03-08 12:31] damianof commented on #10
Ok now there is no more errors, but the application no longer renders.

[2016-03-08 12:32] paranoxx commented on #10
For me, its working fine now.

[2016-03-08 12:37] damianof commented on #10
paranoxx, did you try cleaning everything, node modules, jspm packages, dist, and start from scratch with npm install, then jspm update then gulp build?

[2016-03-08 12:38] paranoxx commented on #10
No, why should i?

[2016-03-08 13:47] Jaans commented on #10
Excellent! Issue fixed.
Thank you for the quick turnaround.

[2016-03-08 13:59] damianof commented on #10
paranoxx, you should not, but if you do you'll experience my issue. This might be unrelated to this issue, and I'm currently still trying to figure out which other updates to which other aurelia package is causing this. I only know that my app was working fine until the last 2-3 days.

[2016-03-08 14:07] paranoxx commented on #10
Shoudn't you do a jspm install -y after a clean?

[2016-03-08 14:15] damianof commented on #10
paranoxx You should not have too. I usually never do jspm install -y. Let me dig a little more into my config and see what I can find. I' put together a little solution with a subset and I'll post on github public shortly

[2016-03-08 14:16] paranoxx commented on #10
I'm not that into the internals of jspm but that's what i do while preparing deployment.
Checkout project on destination server, npm install followed by jspm install -y followed by gulp bundle.

[2016-03-08 14:30] damianof commented on #10
paranoxx all seems working again in my sandbox here https://github.com/damianof/aurelia-config-samples

[2016-03-08 15:01] EisenbergEffect commented on #8
I don't think it's system-polyfills. That error message is one I wrote myself in the last update (based on Chrome's standard message for the scenario). So, I do think it's probably coming from our Object.keys polyfill. However, I'd like to know what is calling that. Perhaps the bug is actually inside of the Object.assign polyfill?

[2016-03-08 15:03] EisenbergEffect commented on #8
@Souldrinker @stoffeastrom Is it likely then that the bug is actually in the Object.assign polyfill? the issue being that it isn't handling null/undefined as one of its arguments? rather than an issue with Object.keys?

[2016-03-08 15:22] matthewma commented on #8
Just throw in some input here.
First, I personally don't know if the Document website and Object.Key are caused by the same issue.

For Object.Key. As Rob said, It really is related to Object.assign polyfill.
From `this.options = Object.assign({ routeHandler: this.loadUrl.bind(this) }, this.options, options);`
To `O.keys(arg).concat(filterOS(arg)).forEach(set);`, where the arg here is the culprit.

[2016-03-08 15:30] Souldrinker commented on #8
@EisenbergEffect Yes, it sounds like that might be it. Looking at the MDN polyfill: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign, it seems like they do a null/undefined check of the arguments before adding it to the output.

I tried to understand how core-js did it (https://github.com/zloirock/core-js/blob/master/modules/_object-assign.js), but I h

[2016-03-08 15:32] EisenbergEffect commented on #8
We can fix our Object.assign polyfill. It's a quick and easy fix. We'll have it out today.

[2016-03-08 15:38] stoffeastrom commented on #8
I thought we were talking about the `Object.assign` polyfill all along :). So yes the fix is to make sure to default to empty object

[2016-03-08 17:18] leosbrf commented on #10
Should that fix also cover null values? I'm getting a similar error when null.

[2016-03-08 18:21] mattgaspar commented on #8
FYI - I tried editing the aurelia polyfill to return an empty array or an empty object instead of throwing an error on null and both produce this error:

Potentially unhandled rejection [1] TypeError: Object.getOwnPropertyNames: argument is not an Object
   at getOwnPropertySymbols (eval code:113:7)
   at Anonymous function (eval code:481:11)
   at assign (eval code:496:13)
   at activate (eval co

[2016-03-08 18:31] mattgaspar commented on #8
Just noticed stoffeastrom was talking about a different location in the polyfill than where the error is thrown.  It does work in IE11 when setting arg to an empty object [here](https://github.com/aurelia/polyfills/blob/master/src/object.js#L99)

if (arg === undefined || arg === null) arg = {};

[2016-03-08 18:36] EisenbergEffect commented on #8
I can release a polyfill shortly. I think if it's null or undefined we'll just continue the loop.

[2016-03-08 18:48] EisenbergEffect commented on #8
Released path for Object.assign with null/undefined check.

[2016-03-08 18:48] #8 closed

[2016-03-08 19:21] jods4 opened #12 "Aurelia polyfills are enumerable"
When you simply assign the prototype, like so:
`Array.prototype.includes = function...`
You introduce a new enumerable member for all arrays.

So if someone had written code like this:
[code]

It's very likely to now break, because `"includes"` will be an iteration of `i`.

This is a regression wrt previous releases that used corejs. I didn't check but I guess that CoreJs defines a non-enumerable

[2016-03-08 20:55] EisenbergEffect commented on #12
Well, you shouldn't use a for/in loop with an array ;) But, we'll get it fixed.

[2016-03-08 20:59] jods4 commented on #12
I was sure you would say that. :wink:

I don't approve but I'm not the only committer to our code base...
FWIW, this was considered common enough that recently the TS team has taken special steps to support this pattern...

[2016-03-08 21:01] EisenbergEffect commented on #12
We'll fix it. I'm looking at it now. No problem :)

[2016-03-08 21:30] #12 closed

[2016-03-08 23:05] jods4 commented on #12
Reading my comment above I realize it was ambiguous... For the record I don't approve the practice of `for..in` over arrays, not your comment ;)

Just sayin': a quick glance over the code shows that `string.js` has the same problem, although it's certainly a lot less likely to trigger issues. I know of noone who does `for (var i in "troll")`.

[2016-03-08 23:33] EisenbergEffect commented on #12
Yeah, I understood your meaning :) I fixed the array issues but wasn't sure if it was worth it to fix the string issues. It's not that big a deal though. I could do it.

[2016-03-09 07:55] Souldrinker commented on #8
Perfect, I tried removing core-js from the app now again and it still works fine in IE11 :-)

[2016-03-09 09:14] stoffeastrom commented on #8
:+1:

[2016-03-09 11:57] AdamWillden commented on #4
I'd just like to register my support for this being part of aurelia-polyfills. I too have had to revert to core-js but if this were included in aurelia-polyfills I could lose my dependency on core-js.

Rob, I'm happy to see you've been receptive to its inclusion despite not being needed by aurelia itself. I think these polyfills cover the majority of commonly required cases. This is the last piece

[2016-03-09 14:53] EisenbergEffect commented on #4
Yes, we can add it. We just need to test the new version submitted based on iterables.

[2016-03-09 18:15] stoffeastrom opened #13 "Uncaught TypeError: Cannot read property 'Symbol(toStringTag)' of null"
When loading babel-core@5.8.35/browser.js it will throw this exception [here](https://github.com/aurelia/polyfills/blob/master/src/symbol.js#L251) since it's being called with `null`

For development I configured

[code]
and get this error

[2016-03-09 18:20] EisenbergEffect commented on #13
So, checking this for null or undefined should do the trick right? Would you be interested to submit a PR for that? @stoffeastrom

[2016-03-09 18:24] stoffeastrom commented on #13
Yes that should be sufficient. Just stumbled on this. I will see if I can get it up and running. If so it should be fast fixing a PR

[2016-03-09 18:28] EisenbergEffect commented on #13
I can release it almost immediately if you send a PR :)

[2016-03-09 18:33] PWKad commented on #13
Confirmed this is same issue from earlier

[2016-03-09 18:40] stoffeastrom commented on #13
If I can do it via my phone :). Just need to get my kids sleeping then I'll look into it

Sent from my iPhone

[2016-03-09 19:18] #13 closed

[2016-03-21 14:51] sailo89 opened #16 "async/await in IE 11 doesn't work"
When running my app in IE, it sticks at loading the app with the following error:

INFO [aurelia] Aurelia Started
Potentially unhandled rejection [1] TypeError: Object.getOwnPropertyNames: argument is not an Object
   at createWithSymbols (eval code:50:7)
   at descriptor.value (eval code:169:7)
   at create (eval code:4:3)
   at wrap (eval code:25:7)
   at runtime.async (eval code:122:7)
   at ac

[2016-03-21 15:07] EisenbergEffect commented on #16
Can you provide a repro for this? Also...I would need some more information about how async/await relates to this. That feature may rely on additional polyfills, for example.,

[2016-03-21 16:06] heruan opened #17 "@singleton view-model fails to load"
Take the `skeleton-navigation`, just add `@singleton` to e.g. `users.js` and navigating to `/users` will throw this error:
[code]

[2016-03-21 16:10] AdamWillden commented on #4
@EisenbergEffect you can close this issue now :-)

When do you plan to do a release containing the PR? I was about to update and realised it's not included in a release yet.

[2016-03-21 16:19] EisenbergEffect commented on #4
Coming tomorrow most likely.

[2016-03-21 16:19] #4 closed

[2016-03-21 16:33] EisenbergEffect commented on #17
This appears to already be fixed in master. Release coming tomorrow.

[2016-03-21 16:33] #17 closed

[2016-03-21 16:36] EisenbergEffect commented on #16
This may already be fixed. We'll have some updates tomorrow.

[2016-03-22 08:59] sailo89 commented on #16
I'll check today if the updates help solve this problem.
With repro do you mean a plunker example?

I can show you the code where it all happens:

`async activate() {
        if(!sessionStorage.getItem('patientsJSON')) {
            await this.http.get(this.config.get('api_url') + "Patients").then(response => {
                sessionStorage.setItem('patientsJSON', JSON.stringify(response.content)

[2016-03-22 10:46] EisenbergEffect commented on #16
It's the code I need, but a reproduction. I have to be able to reproduce it in the skeleton app or else we can't figure out how to fix it.

[2016-03-22 13:27] sailo89 commented on #16
I've created a repro, how can I share this with you?

[2016-03-22 13:40] EisenbergEffect commented on #16
If you can just attach it to this issue that would be fine.

[2016-03-22 15:19] sailo89 commented on #16
[ie_bug.zip](https://github.com/aurelia/polyfills/files/184379/ie_bug.zip)

[2016-03-22 16:42] heruan commented on #17
Same error also when annotating with `@transient`, btw. Is the release coming out today also switching to Babel 6?

[2016-03-22 16:50] EisenbergEffect commented on #17
Yes.

[2016-03-23 09:55] heruan commented on #17
I don't know if this was intended to be fixed in `1.0.0-beta.1.1.0`, but I'm still experiencing this.

[2016-03-23 14:18] EisenbergEffect commented on #17
If you are, there's something peculiar about your scenario I think. We did test this. We will need a repro to see it happening.

[2016-03-23 15:54] heruan commented on #17
I'm just adding `@singleton` in the latest skeleton `users.js` VM, like this:

[code]
then navigating to "Github Users" throws the error. I can pack a repro of this, but it is really a clean clone from the skeleton, `npm install` and `jspm update`, added `@singleton` and `gulp watch`.
Maybe it's something in my outside-app environment?

[2016-03-23 15:56] EisenbergEffect commented on #17
Try this `singleton()` <- parens required.

[2016-03-23 16:03] heruan commented on #17
That was it. I need to document myself better on decorators… Now it loads, but the routes screwed up, I guess the injected `Router` isn't the same as before! But that's another story. Thank you Rob!

[2016-03-23 16:06] EisenbergEffect commented on #17
It's not your fault on the decorators side. Some of them require parens and some don't. It's kind of an awkward part of the spec that it depends on how the deco is written which way it needs to be called. We've tried to make ours work either way and "bullet proof" them but it's possible with singleton. We'll have this in the upcoming DI docs so it's clear.

[2016-03-23 23:36] cehoffman opened #18 "Reflect.getOwnMetadata gets metadata for parents"
Reflect.getOwnMetadata lacks a check for `target.hasOwnProperty(metadataContainerKey)` and so will erroneously return the metadata from the parent prototype.

I discovered this when switching to the use this polyfill instead of core-js and one of my test cases on metadata exposure through class inheritance failed.

[2016-03-24 00:15] EisenbergEffect commented on #18
We would love it if you could submit a PR to fix the issue :)

[2016-03-24 07:23] sailo89 commented on #16
Hi Rob, did you get the chance to solve this issue?

[2016-03-24 10:43] EisenbergEffect commented on #16
@jdanyow Do you have time to look at this IE issue? There's a repro linked above.

[2016-03-24 21:14] jdanyow commented on #16
@sailo89 this is the current status right?

System.import('core-js').then(function () { return System.import('aurelia-bootstrapper'); });
But I have also some problems bundling the app, it keeps looking for core-js. Even if I add it to the bundles.
I think the main issue here is something with polyfills? I hope this get solved so I don't have to import core-js.

If so, please close this issue, and

[2016-03-26 14:30] #18 closed

[2016-03-27 17:03] TGMorais commented on #16
Hi, I was about to open an issue when i saw this one..
I'm having the same/similar problem.

I'm using the [webpack skeleton](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-es2016-webpack).

I added the webpack plugins to transform so they could compile to module ( I also tried the other plugin to [asyn-to-generator](http://babeljs.io/docs/plugins/transform-async-to-generator)

[2016-03-31 14:50] TGMorais commented on #16
@jdanyow Any way I can get a hand about this :) ?

[2016-04-03 14:51] Leonidnei commented on #6
I also getting this error ( Cannot read property 'Symbol(toStringTag)' of undefined) from kendo bridge after upgrade to the latest aurelia version.
jspm reports the following fork:
 npm:aurelia-polyfills 1.0.0-beta.1.0.2 1.0.0-beta.1.1.1

how do I get rid of 1.0.2 version?

[2016-04-04 13:13] Leonidnei commented on #16
We also have this problem: after upgrading to the latest Aurelia version and switching to Babel 6 we got "Object.getOwnPropertyNames: argument is not an Object" in IE 11 (it worked in Chrome).

Adding:
System.import('core-js').then(function () { return System.import('aurelia-bootstrapper'); });
bypassed the problem, but we are looking for perm solution.

We use async/await in our code.

[2016-04-04 13:16] EisenbergEffect commented on #16
If you can help us track down the issue, we can get a patch out asap.

[2016-04-04 13:17] Leonidnei commented on #16
How we can help with this?

[2016-04-04 13:20] EisenbergEffect commented on #16
If you can track down which polyfill is causing the problem and identify a fix that would help. If you are able to submit a PR, we can even get the release out the same day as the PR is submitted probably.

[2016-04-07 23:37] gursharan001 opened #22 "IE 11 issue - "Access Denied" in getOwnPropertyNames"
Reference fix in knockout - https://github.com/SteveSanderson/knockout-es5/pull/43

Reproduced using minimal ES2016 getting started kit (and upgrading everything to latest version). To reproduce, add an iframe which refers to any other domain e.g., adding below to index.html produces error in IE11
`<iframe src="https://xkcd.com"></iframe>`

Attached a minimal project to reproduce.
[polyfill-error.

[2016-04-08 00:41] EisenbergEffect commented on #22
I think we've got a fix coming. See this PR: https://github.com/aurelia/polyfills/pull/21 Give it a try and let me know if it fixes your issues.

[2016-04-08 02:05] gursharan001 commented on #22
PR fixes the issue in aurelia polyfill with the repro code.

However, in my application the same error is now raised in Babel browser.js file (5.8.38). I don't have a repro for it at this point so I am not sure what is going wrong.

[2016-04-08 23:03] gursharan001 commented on #22
I managed to reproduce this error which is not fixed by PR: #21 Attaching the repro code.

[polyfill-error-2iframes.zip](https://github.com/aurelia/polyfills/files/210979/polyfill-error-2iframes.zip)

[2016-04-08 23:31] EisenbergEffect commented on #22
Is it an error in our polyfills or in babel's browser.js?

[2016-04-11 03:28] jdanyow commented on #16
I wasn't able to reproduce this.  If someone wants to fork one of the skellys and put together a repro that we can `npm install;jspm install;gulp watch` it would speed things up.

[2016-04-12 10:55] gursharan001 commented on #22
The error is in babel's browser.js.

[2016-04-29 16:27] doktordirk opened #24 "Reflect.getOwnMetadata gets metadata for parents in Typescript"
edit:
Current Reflect polyfill doesn work for child classes in typescript since Object.hasOwnProperty(key) returns the parent if applicable

--------
old message:
 @cmichaelgraham following up on https://github.com/aurelia/metadata/pull/33
[code]
y.hasOwnProperty('meta') should be false.

this works as specified in es6 but not for typescript where current version yields true.

https://github.com/a

[2016-04-29 16:34] EisenbergEffect commented on #24
Would you be interested to submit a PR to fix this? 😄

[2016-04-29 16:40] doktordirk commented on #24
hell no :smile:
that'll be far over my head i think. (though i'll have a peak nonetheless)

[2016-04-30 08:35] doktordirk commented on #24
@EisenbergEffect i assume https://github.com/Microsoft/TypeScript/issues/1601 is the issue. something different in the extends impelemtation of TS

[2016-04-30 12:12] doktordirk commented on #24
hasOwnProperty on TS playground

http://www.typescriptlang.org/play/#src=class%20A%20%7B%0Afoo%3Astring%20%3D%20'bar'%0A%7D%0Aclass%20B%20extends%20A%20%7B%0Abar%3Astring%20%3D%20'foo'%0A%7D%0A%0Aconsole.log((new%20A()).hasOwnProperty('foo'))%0Aconsole.log((new%20B()).hasOwnProperty('foo'))%0Aconsole.log((new%20A()).hasOwnProperty('bar'))%0Aconsole.log((new%20B()).hasOwnProperty('bar'))%0A

[2016-05-01 11:35] doktordirk commented on #24
as it seems difficult to distinguish parent and child properties in typescript, the only/best solution would be to use/follow https://github.com/rbuckton/ReflectDecorators/blob/master/Reflect.js . they keep a weapmap based on the target for all metadatas. i'm not sure atm if there is another solution than a seperate metadata list

[2016-05-02 12:30] doktordirk commented on #24
@EisenbergEffect i'm still sortof battling with current Reflect poyfill. i tired to look up the specifications, but didn't find it for the used methods. only found https://tc39.github.io/ecma262/#sec-reflection which is different from whats used here!?

[2016-05-02 13:32] EisenbergEffect commented on #24
The metadata methods used here are part of the Metadata proposal for ES Next.

[2016-05-02 15:09] doktordirk commented on #24
@EisenbergEffect
that seem to be quite far from getting implemented. it's not even yet proposed and the original specs have been deleted!

see some discussion here https://github.com/zloirock/core-js/issues/152

[2016-05-02 15:15] EisenbergEffect commented on #24
I submitted an issue to @rbuckton 's repo. We'll see what they say. We do need to associate metadata with classes, so it's going to stay in some form. The only question is whether we need to update the implementation in some way.

[2016-05-02 15:23] doktordirk commented on #24
since it's not working for typescript as it is, something has to be done. i see three options:
* tell typescript user to use there own polyfill (though i didn't manage that yet)
* use the implementation from eg https://github.com/gdi2290/es7-reflect-metadata
* make a hacky version by just adding/using `target.name` to/for the target key. (as opposed to leaving the key at `undefined`as per Reflect

[2016-05-02 15:38] EisenbergEffect commented on #24
Have you tried the name hack...when the code is minified?

[2016-05-02 15:57] doktordirk commented on #24
unminified worked for plugins when calling (aurelia-)metadata.getOrCreateOwn(Metadata.key, Metadata, target**, target.name**);

had a quick try early on with getOrCreateOwn(metadataKey: string, Type: Function, target: Function, **targetKey=target.name**: string): Object; which cause errors for TS.

didn' try yet Reflect.defineMetadata = function(metadataKey, metadataValue, target, **targetKey=targ

[2016-05-03 08:36] doktordirk commented on #24
@EisenbergEffect @cmichaelgraham
while basically working just fine, it unfortunately creates new issues for Typescript with metadata.get
[code]
that worked for TS before, since metadata.getOwn allways did get from the parent anyways.
if that's fixed for TS, then Object.getPrototypeOf(target) should be used to get the parents metadata if applicable, but which, surprise surprise, doesn't work with T

[2016-05-03 10:17] doktordirk commented on #24
i found another possible solution: let typescript target es6 instead of es5. works with current edge/chrome/firefox. obviously older browser will get problems. dunno if chaining babel for 6to5 would works

[2016-05-08 14:48] SassonHW commented on #22
i having the same issue (IE 11 issue - "Access Denied" in getOwnPropertyNames) in my app using aurelia-polyfills@1.0.0-beta.1.1.3

![pasted image at 2016_05_08 05_33 pm](https://cloud.githubusercontent.com/assets/18256326/15098391/07060ccc-1545-11e6-877b-bdbbfca6feaa.png)
 ???

[2016-07-04 22:09] EisenbergEffect commented on #16
Looks like this issue has been resolved through various fixes.

[2016-07-04 22:09] #16 closed

[2016-07-05 18:28] EisenbergEffect commented on #22
This should be fixed now.

[2016-07-05 18:28] #22 closed

[2016-07-06 14:03] EisenbergEffect commented on #24
@doktordirk Do you have any other thoughts on this?

[2016-07-06 16:32] doktordirk commented on #24
@EisenbergEffect since it'll be solved if the typescript to es6 transpiler is used, it'll be a no issue at some stage. meanwhile, i could add a hint with a workaround to the readme or somewhere else you point me to

[2016-07-06 16:36] doktordirk commented on #24
ps: my commit message in our plugins reads like:

Typescript's 'extends' is on purpose not according to specifications. Therefore, Reflects usage with targettKey===undefinded of hasOwnProperty(targettKey)  returns true for a parent property 'undefined' (The derived class doesn't have that at this point, thus false should have been returned).

A simple fix for us is not to use the key 'undefined' (

[2016-07-06 18:24] EisenbergEffect commented on #24
Hmm. A note would be great...I'm just not sure where it should go. Do you have any thoughts on that. Where would you expect to find it as a community member?

[2016-07-06 18:24] #24 closed

[2016-07-06 20:27] doktordirk commented on #24
I guess metadata be best. not that many will use it themself. i.ll try do PR something. on a general note. Maybe typescript tests should be included somehow

[2016-07-07 07:03] doktordirk commented on #24
@EisenbergEffect
added it to the docblock, so it appears in the HUBs api docs. I think that would be the best place.
https://github.com/aurelia/metadata/pull/38

[2016-07-20 06:42] graemechristie opened #28 "No Reflect.ownKeys polyfill"
Current Reflect polyfill does not contain the ownKeys method.

I'm currently using the martingust/aurelia-repeat-strategies plugin (https://github.com/martingust/aurelia-repeat-strategies), which makes use of Reflect.ownKeys

Either I can submit a PR for the ownKeys polyfill to this repo (which is simply)

[code]

Or I can submit a PR to martin's repo replacing his call to ownKeys with the above.

[2016-07-20 06:48] EisenbergEffect commented on #28
Please submit a PR to this repo. Thanks for catching this!

[2016-07-22 08:17] genne opened #29 "No polyfill for Blob (Android)"
**I'm submitting a bug report**

* **Library Version:**
rc.1.0.0

**Please tell us about your environment:**

* **Browser:**
Android Web Browser

**Current behavior:**
On Android you get `TypeError: Illegal constructor` when trying to use `json` from aurelia-fetch-client. It uses `Blob` which isn't supported on these devices.

(I don't own an Android my self so cannot reproduce, but we get a lot o

[2016-07-22 08:24] Gheoan commented on #29
See http://aurelia.io/hub.html#/doc/article/aurelia/fetch-client/latest/http-services/2, section Bring Your Own Polyfill.

[2016-07-22 09:19] genne commented on #29
I'm using a polyfill for `fetch`, but this is related to the `json` helper method being part of aurelia-fetch-client: https://github.com/aurelia/fetch-client/blob/master/src/util.js

According to the link you posted:

This helper uses `new Blob` which needs a polyfill in order to work on Android.

[2016-07-22 14:10] EisenbergEffect commented on #29
@genne Can you send a PR to the docs to ammend them with info about needing to bring a Blob polyfill? I don't think we're going to add that to the base polyfills since it's conditional on this one scenario.

[2016-07-22 14:10] #29 closed

[2016-07-23 11:45] graemechristie commented on #28
No worries, PR inbound !

[2016-07-23 16:06] jhoguet opened #31 "aurelia-polyfills appears to conflict with babel-polyfill in IE 11"
**I'm submitting a bug report**

* **Library Version:**
aurelia-polyfills@1.0.0-rc.1.0.0 on the same page as babel-polyfill@6.9.1

* **Operating System:**
Win 7

* **JSPM OR Webpack AND Version**
webpack 1.13.1

* **Browser:**
IE 11

**Current behavior:**
When one script on the page uses aurelia-polyfills, and another script on the page uses babel-polyfill, in IE11, we get a stack overflow.

**Exp

[2016-07-23 21:55] jhoguet commented on #31
I have done a little bit more digging and found the following:

- corejs checks to see it if Map [supports an Iterable](https://github.com/zloirock/core-js/blob/master/modules/_collection.js#L48), and aurelia's Map polyfill does not, so it fails
- corejs then monkey patches Map causing aurelia's constructor check to fail (you can see constructor gets changed [here](https://github.com/zloirock/core

[2016-07-25 19:02] jhoguet commented on #31
just asked for help on Gitter
![image](https://cloud.githubusercontent.com/assets/1234146/17113454/dbe278f2-5278-11e6-8d41-b557063b24a1.png)

[2016-07-25 20:00] Gheoan commented on #31
What happens if you import `core-js` first and then `aurelia-polyfills`?

[2016-07-25 20:13] jhoguet commented on #31
it will work because it uses core-js's Map polyfill instead of aurelia's

[2016-08-16 05:56] code-chris opened #32 "Rejection error: String polyfills not working in IE 11"
Hi,

I've a problem with the "endsWith" and "startsWith" polyfills in IE 11. I get the following errors in the console for "endsWith"

[code]

and for "startsWith":

[code]

I replaced this functions with this polyfills https://github.com/mathiasbynens/String.prototype.startsWith and https://github.com/mathiasbynens/String.prototype.endsWith and it worked.

My app is running with the newest aureli

[2016-08-19 14:02] EisenbergEffect commented on #31
Definitely import core-js first. If you want, you can even remap aurelia's polyfills to your own custom emtpy module to avoid the size.

[2016-08-19 14:02] #31 closed

[2016-08-21 18:47] jhoguet commented on #31
This will continue to be an issue for anyone using `aurelia-polyfills` if there is also another bundle on the page using `core-js`.

In our case, the 2 independent bundles are both loaded asynchronously causing this to be intermittent. (If the bundle that contains `aurelia-polyfills` loads first, the brittle constructor check discussed in https://github.com/aurelia/polyfills/issues/31#issuecomment

[2016-08-21 20:26] EisenbergEffect commented on #31
If you need an alternative fix, then please submit a PR.

[2016-09-02 03:13] jdanyow opened #33 "Map.keys() not working in IE 11"
In binding, `karma start --browsers IE` fails with:

![error](http://i.imgur.com/ap1i9LX.png)

[2016-09-02 11:42] #33 closed

[2016-09-05 15:46] #28 closed

[2016-09-12 10:34] jods4 opened #34 "Consider WeakMap implementation of Reflect metadata."
I was trying to get rid of Babel, since the nightly TS compiler now has ES5 emit for everything we use (including async). And I got bitten by the metadata vs inheritance bug again.

For reference, this was discussed several times already, by Aurelia and TS: #18, Aurelia/Metadata#22, Microsoft/Typescript#4266, Microsoft/Typescript#1601

The remaining problem today is that when emitting ES5 code, TS

[2016-09-12 12:17] EisenbergEffect commented on #34
Yes. Ultimately, using a WeakMap is what we want. I think we had concerns about the Polyfills and potential memory leaks related to those. The other concern was performance.

Would you be at all interested in switching this over to use the WeakMap as a PR? With that done, we might be able to run some benchmarks and tests to see how that works out.

[2016-09-12 12:47] jods4 commented on #34
Did you have something specific in mind concerning polyfills? AFAIK they all do what your Reflect metadata implementation does: store the values directly on the target object inside a property with a unique name. So the outcome should be the same as today, I guess.
Hopefully native WeakMap performs better.

To be honest, our build contains a custom bundle of corejs polyfills (using `core-js-builde

[2016-09-12 20:03] AStoker commented on #4
Sorry to resurrect this one from the dead. We're running into issues using the polyfills and `Array.from` with Maps, and specifically when we use a map function. The error we get running this code is:
[code]
[code]
This is coming from this line https://github.com/aurelia/polyfills/blob/master/src/array.js#L11

Can anyone else confirm? Is this a known issue?

[2016-09-13 00:33] jods4 commented on #4
As I noted in the PR, the problems seems to be that L32:
https://github.com/aurelia/polyfills/blob/master/src/array.js#L32
should be
`result[index] = mapping ? iterCall(iterator, mapfn, step.value, index) : step.value;`
instead of
`result[index] = mapping ? iterCall(mapfn, step.value, index) : step.value;`

[2016-10-05 04:33] EisenbergEffect commented on #32
@code-chris Are you still having this issue?

[2016-10-09 05:51] Gheoan opened #37 "List what polyfills are included"
**I'm submitting a feature request**

**Current behavior:**
Source code must be checked to find what polyfills are included in this library.

**Expected/desired behavior:**
* **What is the expected behavior?**
There should be a list of what polyfills are included in this library.

* **What is the motivation / use case for changing the behavior?**
Only loading missing polyfills when using other pol

[2016-10-09 05:53] EisenbergEffect commented on #37
@Gheoan Sounds like a great contribution opportunity to send a PR to the readme file :)

[2016-10-09 06:05] Gheoan commented on #37
- `Array.from`
- `Array.prototype.find`
- `Array.prototype.findIndex`
- `Array.prototype.includes`
- `WeakMap`
- `Map`
- `Set`
- `WeakSet`
- `Number.isNaN`
- `Number.isFinite`
- `Object.keys`
- `Object.assign`
- `Reflect.getOwnMetadata`
- `Reflect.defineMetadata`
- `Reflect.metadata`
- `Reflect.defineProperty`
- `Reflect.construct`
- `Reflect.ownKeys`
- `String.prototype.endsWith`
- `String.protot

[2016-10-09 06:12] Gheoan commented on #37
PR ready: https://github.com/aurelia/polyfills/issues/38.

[2016-10-14 07:21] #37 closed

[2016-10-14 14:20] dtaalbers commented on #22
Hi,

I am currently working on an Aurelia CLI app (version 0.20.2) with aurelia-polyfills (1.1.1) but still encountering this issue. Any idea what I can do to resolve this problem?

<img width="981" alt="screen shot 2016-10-14 at 16 20 16" src="https://cloud.githubusercontent.com/assets/6512556/19390818/1e782086-922a-11e6-94b9-a8daf756b3e8.png">

<img width="1440" alt="screen shot 2016-10-14 at 16

[2016-11-01 16:29] iovergard commented on #22
I am also still seeing this issue with the latest version of aurelia-polyfills

[2016-11-02 16:42] code-chris commented on #32
Sorry for the long delay. I will try to reproduce this in a view days.

[2016-11-11 08:26] 4nderss opened #39 "IE11 polyfill performance"
**I'm submitting a bug report**

* **Library Version:**
1.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
5.9.1

* **NPM Version:**
3.10.5

* **Browser:**
IE 11

* **Language:**
all

**Current behavior:**
In Chrome the collection,js polyfill is not needed/used. Our site renders in ~1000ms. In IE11, where the polyfill is used, our site rende

[2016-11-11 11:14] 4nderss commented on #39
I have written a small application that demonstrates this exact issue

https://github.com/4nderss/aurelia-performance-test

I get 2592 ms in chrome and 25000 ms in IE11.

[2016-11-11 13:47] EisenbergEffect commented on #39
@jdanyow Any chance you can take a look into this?

[2016-11-12 15:27] jdanyow commented on #39
I think your `properties` property is killing your performance. Every time it's accessed it allocates a new array instance and needs to loop over the props in a user object to fill the array:

[code]

Change it to a method: `createPropertiesArray` and change the last line, `return res` to `this.properties = res;`. Finally, call `createPropertiesArray` at the end of your activate method.

[2016-11-12 15:53] PWKad commented on #39
This free performance advice brought to you in part by @jdanyow :)

[2016-11-12 18:08] #39 closed

[2016-11-14 07:26] 4nderss commented on #39
Oh if it were that simple.. I'm sorry to say but that array was just for this perticular test case and is not what we use in our application code. I have updated my example github project and the performace is still terrible. Around 10 000 ms average for IE11/Win 10 (no improvmement at all).

So you can go ahead and re-open this issue if this is something you guys intend to fix (if even possible?)

[2016-11-14 13:11] jdanyow commented on #39
@4nderss I took another look at it, the next suggestion for you would be to fix the table markup.  The repeat shouldn't be on the `<body>` element, I think you meant to put that on a `<tr>`. The repeated `<td>` is missing a closing tag.  The `<th>` elements should be within a `<tr>`.  These fixes will speed things up but not much. Attempting to dynamically display 1000 rows * 17 cols in IE 11 is t

[2016-11-14 14:36] 4nderss commented on #39
@jdanyow I have added your proposed changes. The tbody is by choice since we have 2-3 rows per row template, and that is why I brought it along in my example. As you suggested the html error fixes did not improve overall performance.

What I'm trying to figure out is why the has() function is taking alot of time, and why it is called thousands of times. Just having the function run for 1ms adds an

[2016-11-14 17:14] jdanyow commented on #39
As a test, try putting core-js in a script tag in your index.html document's head. It will install it's polyfills, causing aurelia to skip installing it's own.

[2016-11-15 09:02] 4nderss commented on #39
@jdanyow I switched to core-js shims by adding
`<script src="node_modules/core-js/client/shim.min.js"></script>`
inside my header and performance went up alot. I did a comparison and here are the results (3 pageloads per case).

Chrome/Win 10 (doesn't need polyfills) : 2307ms
IE11/Win 10 Aurelia Polyfills: 8434 ms avg
IE11/Win 10 Core Js: 4161 ms avg
IE11/Win 10 ES6-Shim: 14872 ms avg (although th

[2016-11-15 11:42] jdanyow commented on #39
@4nderss - can you try one other thing while you're profiling:

Here's a new build of binding that removes `Map` usage from the connect queue. Curious if it makes any difference for you: [dist.zip](https://github.com/aurelia/polyfills/files/591806/dist.zip)

If you're using jspm, overwrite your `jspm_packages/npm/aurelia-binding@...` folder with the contents of the `dist/amd` in the attached zip.

[2016-11-15 12:25] 4nderss commented on #39
@jdanyow ok here are the results. Looks alot more promising now.

The has() does not show while profiling, result is now more like core-js.
![image](https://cloud.githubusercontent.com/assets/7677245/20305645/d5c24fe4-ab36-11e6-95b3-2a5d338effef.png)

Average render time with my test in IE11/Win 10: **4071ms**, so faster than core-js it seems. 👍

[2016-11-15 12:27] jdanyow commented on #39
Cool, sorry this got closed prematurely. I saw the heavy getter property and thought that was the issue.

[2016-11-25 13:13] lygstate opened #40 "Add Promise support?"
**I'm submitting a feature request**

* **Browser:**
all |  Qt

**Current behavior:**

* **What is the motivation / use case for changing the behavior?**
Promise can be implement in small piece of codes. (200 lines of code?)

[2016-11-25 16:45] EisenbergEffect commented on #40
We're not planning to implement promise support directly in the polyfill. Modern browsers support this and there are very solid external libraries that are better to use than what we could build. Also, some module loaders come with Promises included. Same thing goes with some other polyfill libraries, so we don't want step all over that.

[2016-11-25 16:45] #40 closed

[2016-12-01 16:40] code-chris commented on #32
Can't reproduce this. Seems to work now.

[2016-12-07 07:41] 4nderss commented on #39
@jdanyow when is this fix scheduled for release?

[2016-12-07 16:09] EisenbergEffect commented on #39
It's out. Release announcement is coming this week but the code is out.

On Dec 6, 2016 11:41 PM, "Anders Ulfheden" <notifications@github.com> wrote:

[2016-12-08 07:56] 4nderss commented on #39
@EisenbergEffect shouldn't the fix be released with aurelia-binding? Can't see any releases since Oct 6. Or by out, do you mean that it's ready but not yet released?

[2016-12-08 20:02] jack4it opened #42 "Regarding polyfill.io"
Question: Have we tested Aurelia using polyfill.io? Is polyfill.io an compatible option for Aurelia?

[2016-12-08 20:56] EisenbergEffect commented on #42
We have't tested it but you should be able to map aurelia-polyfills to another library or url.

[2016-12-09 02:26] EisenbergEffect commented on #39
Ooops. Sorry. We missed the binding release. It's out now.

[2016-12-09 05:01] jack4it commented on #42
Cool. I'll try and report back

[2016-12-11 23:28] JakeChampion commented on #42
Hi, polyfill.io contributor here 👋 - We currently don't have any polyfills for `Reflect`, we are happy to accept PRs to add them. I believe we have all the other polyfills that are inside this repository :-)

[2016-12-12 10:35] 4nderss commented on #39
@EisenbergEffect, @jdanyow  thanks, I have tested the update now. However it looks like something else with this update has affected our performance now.

IE went from 2500ms render with the above aurelia-binding fix from @jdanyow to 4000ms after npm updates. Tested with new aurelia release, with and without core-js loaded before aurelia.

From a quick overview it looks like it is doing alot of ca

[2016-12-12 21:38] #42 closed

[2016-12-13 05:49] #32 closed

[2016-12-13 11:47] 4nderss commented on #39
For whetever reason this stopped happening today after a wípe of my npm folder. Performance is now better and we do not have to use core-js.

Thanks for fix and release. Keep up the good work!

[2016-12-16 22:01] jdanyow opened #43 "Support Object.create(null) targets"
When target is `Object.create(null)`, `Reflect.defineMetadata` and `Reflect.getOwnMetadata` throw:

Running samples: [reflect-metadata](https://runkit.com/58545c03cdd70f001461b254/58545c03cdd70f001461b255) vs [aurelia-polyfills](https://runkit.com/58545c03cdd70f001461b254/58545d8150e51d001481536d)

[code]

[2016-12-16 22:07] jdanyow commented on #43
todo: uncomment this line once this issue is fixed-

https://github.com/aurelia/metadata/pull/48/files#diff-0ded15bd8569583909126bfa08b23b3dR39

[2017-01-12 18:45] mikeesouth commented on #22
Me too - any fix or workaround available?

[2017-01-13 23:57] mikeesouth commented on #22
I've been investigating this issue more. It does not occur on Chrome, Firefox and Edge (all latest versions) but it occurs 100% of the time on IE11. Just as @dtaalbers I am using Auth0 that opens a new window a brief moment for authentication.

@dtaalbers have you found any workaround that works with the auth0 authentication flow?
@EisenbergEffect should we raise a new issue or can this be re-open

[2017-01-14 00:10] EisenbergEffect commented on #22
Please raise a new page and provide a repro. Thanks!

On Jan 13, 2017 3:58 PM, "Michael Söderman" <notifications@github.com>
wrote:

[2017-01-19 10:07] matik12 opened #44 "IE 11 issue - still get "Access Denied" in getOwnPropertyNames"
**I'm submitting a bug report**

* **Library Version:**
aurelia-polyfills@1.1.1

* **Browser:**
IE 11 - 11.672.10586.0

* **Language:**
TypeScript 2.1

**Current behavior:**
After adding [Power Bi](https://github.com/Microsoft/PowerBI-JavaScript) which creates an iframe underneath, I can still see following errors in console multiple times:
[code]
[![PowerBi.png](https://s29.postimg.org/wzmu8xbnb/

[2017-01-20 06:49] EisenbergEffect commented on #44
@jdanyow Any chance you can look into this?

[2017-01-20 21:10] jdanyow commented on #44
https://github.com/zloirock/core-js/issues/76

[2017-02-05 09:39] kobyriskovich commented on #22
Any update on how to fix this?

[2017-02-12 12:45] tomicse opened #45 "async ... await ... does not work under IE"
Hi
problem is, if it is used, comes Exception

ERROR [app-router] TypeError: Object.getOwnPropertyNames: az argumentum nem objektum
[object Error]{description: "Object.getO...", message: "Object.getO...", name: "TypeError", number: -2146823281, stack: "TypeError: ..."}

[2017-02-12 13:34] StrahilKazlachev commented on #45
Can you provide more info why you think `aurelia-polyfills` is at wrong and how?
`async await` is a new syntax and as such can not be polyfilled, it is transpiled, so what are you using for that - babel, ts, ...?

[2017-02-14 03:42] #45 closed

[2017-02-25 04:37] jdanyow commented on #44
@EisenbergEffect do you think we should update our polyfills to fix this issue?

https://github.com/zloirock/core-js/issues/76

https://github.com/paulmillr/es6-shim/commit/cee098d1cb451540e1e8f5341180964bbb66c66d

[2017-02-25 05:01] EisenbergEffect commented on #44
Seems like it. Any idea if it's a small fix?

[2017-03-13 17:22] slackboxster opened #48 "createWithSymbols fails if descriptors is undefined."
Version 1.2.0 of this plugin.

In IE, createWithSymbols fails if descriptors is undefined, giving the following error:
"Object.getOwnPropertyNames: argument is not an Object"

[2017-04-12 00:55] genachka commented on #22
+1
Same as @mikeesouth we're not seeing this in current releases of Chrome or Firefox. Only on IE 11 (we're using 11.0.9600.18617) 100% of the time as well.

[2017-04-12 00:56] genachka commented on #44
+1
Same as @mikeesouth noted on #22, we're not seeing this in current releases of Chrome or Firefox. Only on IE 11 (we're using 11.0.9600.18617) 100% of the time as well.

Any updates on this?

[2017-04-27 21:58] nabilusmani commented on #22
Is there a solution available for this? I just installed the recent aurelia cli 4.1.2 and polyfills 1.2.1, but am still running into this issue on IE 11.

[2017-05-26 14:21] Cedware opened #49 "Stackoverflow Exception in IE10"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
7.3.0

* **NPM Version:**
4.0.3

* **JSPM OR Webpack AND Version**
webpack 2.5.1

* **Browser:**
IE 10
* **Language:**
TypeScript 2.3.2

Hello,
The library causes a stackoverflow exception with Internet Explorer 10, I will attach a screens

[2017-05-31 03:36] EisenbergEffect commented on #49
You can always map aurelia-polyfills to a different library or an empty module.

[2017-05-31 19:22] magnusdanielson commented on #22
In aurelia-polyfills.js i changed the definition of
`descriptor.value = function getOwnPropertyNames(o)`

to the following:
`descriptor.value = function getOwnPropertyNames(o) {
    var cachedWindowNames = typeof window === 'object' ? Object.getOwnPropertyNames(window) : [];
    var originalObjectGetOwnPropertyNames = Object.getOwnPropertyNames;
    if (_toString(o) === '[object Window]') {

[2017-05-31 21:51] gursharan001 commented on #22
That's f****ing awesome!!! Is there a PR to try?

[2017-06-01 01:40] EisenbergEffect commented on #22
@magnusdanielson Would you be interested in submitting a PR?

[2017-06-01 07:57] magnusdanielson commented on #22
Sure, I will give it a try.
I'll ping you when done.

[2017-06-06 15:26] sludemann opened #50 "propertyIsEnumerable null reference exception in IE 11"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.2.1

* **Browser:**
IE 11

* **Language:**
ESNext

**Current behavior:**
Using `ag-grid` we're consistently getting the following exception in IE 11 when onGetR

[2017-06-06 16:44] EisenbergEffect commented on #50
We welcome your PR. Don't worry about the process too much for the first time. You'll be asked to sign the CLA and we may want to edit the commit title. We can walk you through that after you submit, if needed. Thanks!

[2017-06-13 07:21] JeroenDragt commented on #22
@magnusdanielson Any news on the PR?

[2017-06-20 13:34] ErikSchierboom commented on #22
I'm also having this issue! Any update @magnusdanielson?

[2017-06-26 08:50] magnusdanielson commented on #44
I just noticed @doubleaa93 made the PR, I will skip my PR. Sorry for the delay.

[2017-06-28 06:41] jp7677 commented on #44
Thanks a lot @doubleaa93! Any chance to get this PR merged soon?

[2017-06-28 06:50] EisenbergEffect commented on #44
We'll get it out this week :)

[2017-06-28 07:36] jp7677 commented on #44
@EisenbergEffect Thans a lot!

[2017-06-29 12:29] tborres commented on #50
This fixes our issue with the usage of `Symbol` in IE11, and appears to be a pretty straightforward null check. What steps are needed to get this merged in? It would be great to get this in the next version as I'm currently hotfixing in the node_modules, but I know that's eventually going to burn me (is that why it's called a hotfix?)

[2017-06-30 03:10] EisenbergEffect commented on #50
Merged fix. Releasing in a few minutes.

[2017-06-30 03:10] #50 closed

[2017-06-30 03:11] EisenbergEffect commented on #44
Merged fix. Releasing in a few minutes.

[2017-06-30 03:11] #44 closed

[2017-06-30 03:12] EisenbergEffect commented on #48
Merged fix in. Releasing in a few minutes.

[2017-06-30 03:12] #48 closed

[2017-07-24 04:25] JoseRoman commented on #49
Any plans on a fix for this?

[2017-07-28 22:29] unional opened #53 "Symbol is not defined in Firefox 35"
**I'm submitting a bug report**

* **Library Version:**
1.2.1

**Please tell us about your environment:**
* **Operating System:**
Linux

* **Browser:**
Firefox 35

* **Language:**
all

**Current behavior:**
`Symbol is not defined` at https://github.com/aurelia/polyfills/blob/master/dist/aurelia-polyfills.js#L277
src: https://github.com/aurelia/polyfills/blob/master/src/symbol.js#L277

**Expected/d

[2017-07-29 01:33] gheoan commented on #53
It is polyfilled by the code you linked.

[2017-07-29 01:37] unional commented on #53
The line I linked throw exception `Symbol is not defined` on FireFox 35.
And also, if you look into the code. It does not use the pass in param `S`.

The issue is accessing `Symbol` immediately throws. Need to be something like `window['Symbol']`

[2017-10-06 11:44] waywardz commented on #49
This also impacts ie11.  #821

[2017-12-05 20:47] chdev77 opened #54 "I'd like to add Object.values polyfill"
Using Object.values on IE 11 throws an error.
_'Unhandled rejection TypeError: Object doesn't support property or method 'values''_

I'd like to see something similar added, or at least make note of it.

const valuesPolyfill = function values (object) {
  return Object.keys(object).map(key => object[key]);
};

[2017-12-21 09:47] gronostajo commented on #54
According to repository's description, this library is *"The minimal set of polyfills needed to run Aurelia."* `Object.values` is super-useful, but I don't think it fits `aurelia-polyfills`.

By the way, take a look at [existing polyfills for `Object.values`](https://developer.mozilla.org/pl/docs/Web/JavaScript/Reference/Global_Objects/Object/values#Polyfill). They are more complex than what you p

[2017-12-21 11:01] gronostajo opened #56 "Karma getting stuck on aurelia-polyfills import with TS 2.3+"
**I'm submitting a bug report**

* **Library Version:**
1.2.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.2

* **NPM Version:**
4.6.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Chrome 63, PhantomJS 2.1

* **Language:**
TypeScript 2.3 and newer

**Current behavior:**
When `aurelia-polyfills` is imported and TypeScript

[2017-12-22 12:54] gronostajo commented on #56
I was to eager to blame `aurelia-polyfills`. Beginning with TS2.3, System.JS is detecting `typescript.js` as a JS module ([this regex](https://github.com/systemjs/systemjs/blob/9e87f004339b3ee60dc8bec8750957bf5d9266a2/src/instantiate.js#L418) matches because the string `; export const` is present in `typescript.js`). To make it work up to TS2.6, one must explicitly specify module format and export

[2017-12-22 12:54] #56 closed

[2018-01-24 05:25] EisenbergEffect commented on #54
My recommendation is that if you need that, find a suitable modularlized polyfill for just this feature and add it to your project. We want to be careful not to add more polyfills than Aurelia itself actually needs to run in older browsers.

[2018-01-24 05:25] #54 closed

[2018-03-02 21:40] Alexander-Taran commented on #34
Stale since 2016

[2018-03-02 21:41] EisenbergEffect commented on #34
We'll probably remove Reflect.metadata in vNext.

[2018-03-02 21:41] #34 closed

[2018-03-05 09:51] Alexander-Taran commented on #43
Same behavior with 1.3.0
Is it still relevant?

[2018-03-24 22:15] Alexander-Taran commented on #53
An firefox 35 is special how?
I thought the were evergreen.

[2018-03-25 01:25] unional commented on #53
It's about the range of browsers supported. Somewhere in between, this code doesn't work.

See https://stackoverflow.com/questions/45453374/should-in-between-browser-compatibility-issue-be-handled for more details.

[2018-03-25 08:13] Alexander-Taran commented on #53
Ok.. so you are the guy who's been asked to support FF35..
As in answer to your question on SO - say no.
IE is different in a way. For corporations that buit internal software for IE6.
Firefox.. no reason to support that far back.

[2018-06-12 06:14] EisenbergEffect commented on #49
No PR in over a year, so closing. Anyone who encounters similar issues, please consider using an alternative polyfill.

[2018-06-12 06:14] #49 closed

[2018-06-12 06:17] EisenbergEffect commented on #53
Closing for now. Happy to accept a PR if there's a legitimate fix and it's still needed.

[2018-06-12 06:17] #53 closed

[2018-07-11 10:30] rluba opened #61 "Symbol polyfill uses "codePointAt" which is not available in IE"
**I'm submitting a bug report**

* **Library Version:**
any (as of 44ee5ed)

* **Browser:**
IE any (tested in IE 11)

* **Language:**
all

**Current behavior:**
The Symbol polyfill [uses `codePointAt`](https://github.com/aurelia/polyfills/blob/44ee5ede2af99473eab8bf9ef2818197f3bbce75/src/symbol.js#L314). But this function is not available in IE11 ([see `codePointAt` on MDN](https://developer.mozil

[2018-07-24 09:13] Tim-Erwin opened #62 "polyfills possible breaks reflect-metadata"
(I don't know if this is the right repo to file this issue, aurelia-bootstrapper might be better.)

I was trying to use TypeScript's `reflect-metadata`, but never got back any of the metadata with

    Reflect.getMetadata('design:type', Bla.prototype, 'thing')

The problem is, that the reflect polyfill in this library is not compatible with the [original](https://www.npmjs.com/package/reflect-meta

[2018-07-25 04:41] pkozul commented on #62
Had the same issue. Using Webpack, I added `reflect-metadata` to the `app` section (i.e. before `aurelia-bootstrapper`), which solved the problem for me.

[code]

[2018-07-26 10:04] zewa666 opened #63 "Object.entries polyfill"
With ES2017 there is `Object.entries` which is not yet covered by aurelia polyfills.
It would be great if we could add that as well.

I'm just not certain where to add this, since there are no ES2017 polyfills prepared yet if I'm not wrong.

Polyfill:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries#Polyfill
[code]

[2018-07-27 06:10] EisenbergEffect commented on #63
You could add it here: https://github.com/aurelia/polyfills/blob/master/src/object.js

[2018-07-31 18:10] #63 closed

[2018-07-31 18:10] zewa666 commented on #63
Closed due to discussion in linked PR

[2018-10-26 10:34] RomkeVdMeulen opened #65 "Add support for iterators to Array.from"
The current `Array.from` polyfill accepts iterable objects and 'array-like' objects, but not iterators. This is correct according to the [ES6 specification](https://www.ecma-international.org/ecma-262/6.0/#sec-array.from). However, calling `Array.from()` with an iterator rather than an iterable using the native implementations in Edge 42, Chrome 70 and Firefox 63 does give the result you would exp

[2018-11-22 21:11] Expaso commented on #32
Whaa! [https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png](url)

What did you to do make it go away?

[2018-11-22 21:32] bigopon commented on #32
How did you get it in the first place? Maybe some incorrect combination of polyfills, i.e babel polyfills + aurelia polyfills?

[2018-11-23 10:14] code-chris commented on #32
@Expaso I only used aurelia-polyfills and bluebird as "classic" polyfill libs. There was always an error in the aurelia-polyfills.js file before the two string functions were applied. But I don't know exactly, it's two years in the past now. 😆

[2018-12-07 14:01] sampaioletti commented on #62
Thanks @pkozul, that worked for me. Man that was frustrating and no amount of googling seemed to bring up a solution until i thought to check the polyfills and see if it was there.

[2019-06-09 22:10] rockResolve commented on #61
This breaks:
`Array.from("abc")`

[2019-10-07 14:50] cnourai opened #72 "Polyfill failing on UWP Edge Mobile when including polyfill script on index.html"
**I'm submitting a bug report**

* **Library Version:**
1.3.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.5.X

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
Webpack 3.12.0

* **Browser:**
Edge Mobile 44.X from UWP

* **Language:**
javascript

**Current behavior:**
Webpage does not load on any page because edge is failing on in

[2019-10-07 15:37] cnourai commented on #72
I might add that it worked fine on an earlier version of edge mobile until the microsoft update a week or so ago

[2019-10-08 19:42] 4imble commented on #62
@pkozul Amazing, just wasted over an hour on this.
The weird thing for me was on another project also Aurelia, all I had to do was import it at the top of my app.ts but this was not working here and I could not work out why. The webpack option is working a treat!

[2021-02-04 15:13] nenadvicentic commented on #17
5 years later...

This happens to me every now and then. And of course, every time I forget what the culprit is. After ~1h of debugging, I slap my forehead. This probably has happened to me at least 5-7 times by now.

Is it possible to make error message for this particular case more user-friendly? It would save everyone a lot of time.

[2021-10-12 07:30] peitschie commented on #62
This issue is actually happening with the command-line tool as well. The `aurelia-cli` module imports the polyfills into the process used for webpack building, breaking any webpack plugin that depends on `reflect-metadata`.

In my case, [webpack-obfuscator](https://github.com/javascript-obfuscator/webpack-obfuscator/tree/2.6.0) imports `reflect-metadata` (the full implementation) which results in

[2022-01-31 21:03] ff-will commented on #62
+1
I added the 'reflect-metadata' to the app entry before 'aurelia-bootstrap', but `Reflect.getMetadata()` still returns `undefined`. So for anyone who needs to add custom annotations for instance, aurelia-polyfill is a real show-stopper.

[2022-06-03 16:41] Alexander-Taran commented on #43
@bigopon mumbo-jumbo javascript.. do we still need this issue?

[2022-06-04 02:19] #43 closed

[2022-06-05 11:42] Alexander-Taran commented on #62
webpack plugin has excellent docs in github wiki
https://github.com/aurelia/webpack-plugin/wiki/AureliaPlugin-options#features
one can disable some polyfills
and looking @ https://github.com/aurelia/polyfills/blob/master/src/reflect.js I see that one can ditch reflect polyfilll from build output.

@bigopon I think this one can be closed..

[2022-06-05 12:00] #62 closed